modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["gcc-unwrapped", "glibcLocales", "imagemagickBig", "libreoffice", "poppler_utils", "python312Packages.pdfplumber", "python312Packages.pillow", "tesseract", "tesseract4", "unzip"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_openai:1.0.0", "jira:1.0.0"]

[userenv]

[userenv.shared]
BULKGATE_APPLICATION_ID = "36390"
BULKGATE_APPLICATION_TOKEN = "P8xNZvnDhajSuDZ6b5aFooSwdrwZDDJpjb6ekxWy35RDrUqUbZ"
BULKGATE_WEBHOOK_URL = "https://fc828d39-61cd-41d5-ba8d-20e8af9db227-00-7urdqg8tuo0k.worf.replit.dev/api/auth/bulkgate/callback"
APP_BASE_URL = "https://indexus.cordbloodcenter.com"

[userenv.production]
